body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/154/009/original/landscape.jpg?1736044535");
  background-size: cover;
  font-family: "Nunito Sans", serif, "Helvetica", sans-serif;
  color: white;
}
header {
  border-bottom: 0.5px solid rgb(37, 107, 139);
  padding-bottom: 15px;
}
footer {
  color: white;
  position: fixed;
  bottom: 10px;
  width: 100%;
}
a {
  color: rgb(179, 221, 240);
  text-decoration-line: none;
}
a:hover {
  text-decoration: underline;
}
#weather-container {
  display: block;
  border-radius: 10px;
  width: 70%;
  margin: 50px auto;
  padding: 30px;
  background-color: rgba(127, 167, 184, 0.9);
}
#current-date {
  margin-bottom: 5px;
}
#city-input {
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 20%;
  font-family: "Nunito Sans", serif, "Helvetica", sans-serif;
}
#search-button {
  background-color: rgb(37, 107, 139);
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-family: "Nunito Sans", serif, "Helvetica", sans-serif;
  width: 8%;
  color: white;
  margin-left: 5px;
}
#weather-today {
  display: flex;
  justify-content: space-evenly;
}
#city-header {
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 0;
}
#weather-emoji {
  display: block;
  font-size: 80px;
  text-align: center;
}
#temperature-container {
  display: flex;
}
#current-temperature {
  font-size: 70px;
  font-weight: 600;
  margin-top: 22px;
}
#temperature-unit {
  margin-top: 36px;
  font-size: 28px;
}
#weather-details {
  font-weight: 600;
}
#weather-details strong {
  color: rgb(179, 221, 240);
}
